<template>
    <div :class="classes" v-clickoutside="handleClose">
        <slot name="input" :source="source"></slot>
        <slot></slot>
    </div>
</template>
<script>
    import Emitter from '@/mixins/emitter';
    import clickoutside from '@/directives/clickoutside';
    const prefixCls = 'comboxtable';

    export default {
        name: 'Comboxtable',
        mixins: [ Emitter ],
        directives: {clickoutside},
        props: {
            activeName: {
                type: [String, Number]
            },
            source:{
                type: [String, Number,Object,Boolean],
                default:null
            },
            //显示清空input按钮
            showCleanIptBtn:{
                type: Boolean,
                default:false
            },
            //显示清空search按钮
            showCleanSearchBtn:{
                type: Boolean,
                default:false
            }
        },
        data () {
            return {
                activeState:false,//下来面板活动状态
                currentActiveName: this.activeName,//tab活动名称
                prefixCls: prefixCls
            };
        },
        computed: {
            classes () {
                return [
                    `${prefixCls}`,
                    {
                        [`${prefixCls}-visible`]: this.activeState
                    }
                ];
            }
        },
        mounted () {
            this.$on('on-update-active-toggle', (state) => {
                //console.log("on-update-tabs",this.tabs,options);
                this.activeState = !this.activeState;
            });

            //input 更新 action=1=清空行为  action=2=效验行为
            this.$on('on-input', (options) => {
                //console.log("on-input")
                this.broadcast('ComboxtableInput', 'on-input',options);
            });

            this.updateActiveName();
            this.init();
        },
        methods: {
            init(){
                this.broadcast('ComboxtableItem', 'on-update-source', {
                    source:this.source,
                    showCleanIptBtn:this.showCleanIptBtn,
                    showCleanSearchBtn:this.showCleanSearchBtn
                });
                this.broadcast('ComboxtableInput', 'on-update-source', {
                    source:this.source
                });
            },
            handleClose(){
                this.activeState = false;
            },
            updateActiveName(){
                if (this.currentActiveName === undefined) {
                    this.currentActiveName = -1;
                }
                this.broadcast('ComboxtableGroup', 'on-update-active-name', this.currentActiveName);
                this.broadcast('ComboxtableItem', 'on-update-active-name', this.currentActiveName);
            }
        },
        watch: {
            //活动选项卡
            activeName (val) {
                console.log("comboxtable",val);
                this.currentActiveName = val;
                this.updateActiveName();
            }
        }
    };
</script>
<style lang="css">
.clearfix:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.clearfix{zoom:1;}

.comboxtable{position:relative;line-height:normal;display:inline-block;width:100%;}
.comboxtable-visible .comboxtable-group{display:block;}
</style>
