<template>
    <div :class="[prefixCls + '-group']">
        <ul class="comboxtable-tab clearfix">
            <li v-for="(item,index) in tabs" :class="tabCls(item)" v-text="item.tabname" @click="selectTab(item,index)"></li>
        </ul>
        <div class="comboxtable-tabcontainer">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    const prefixCls = 'comboxtable';
    import Emitter from '@/mixins/emitter';

    export default {
        name: 'ComboxtableGroup',
        mixins: [ Emitter ],
        props: {},
        data () {
            return {
                prefixCls: prefixCls,
                active:false,
                activeIdstr:"",//活动字符串
                tabs:[]
            };
        },
        computed: {},
        mounted () {
            //更新tabs数据
            this.$on('on-update-active-name', (idstr) => {
                //console.log("on-update-tabs",this.tabs,options);
                this.activeIdstr = idstr;
            });

            //更新tabs数据
            this.$on('on-update-tabs', (options) => {
                //console.log("on-update-tabs",this.tabs,options);
                if(!options.idstr){
                    return;
                }
                let exist = false;
                for (var i = 0; i < this.tabs.length; i++) {
                    if(this.tabs[i].idstr === options.idstr){
                        exist = true;
                        break;
                    }
                }
                if(!exist){
                    this.tabs.push(options)
                }
            });
        },
        methods:{
            tabCls (item) {
                return [
                    {
                        [`active`]: item.idstr === this.activeIdstr
                    }
                ];
            },
            selectTab(activeItem,activeIndex){
                this.tabs.forEach( (item,key) => {
                    if(item.idstr === activeItem.idstr ){
                        this.activeIdstr = item.idstr;
                    }
                })
                this.broadcast('ComboxtableItem', 'on-update-active-name', this.activeIdstr);
            }
        }
    };
</script>
<style lang="css">
.comboxtable-group{z-index:11;background-color:#fff;min-width:418px;top:100%;margin-top:3px;display:none;
    position:absolute;/*修复DOM结构渲染闪烁bug */
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -ms-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

/*选项卡*/
.comboxtable-tab{border: 1px solid #ddd;background-color: #f0f0f0;}
.comboxtable-tab>li{float: left;padding:8px 15px;border-right: 1px solid #ddd;border-top: 0;cursor: pointer;}
.comboxtable-tab>li.active{background-color: #fff;border-bottom: 1px solid #fff;margin-bottom: -1px;}

/*内容*/
.comboxtable-tabcontainer{border: 1px solid #ddd;border-top: 0;padding: 10px;}
</style>
