<template>
    <div :class="classes">
        <!-- <div>
            <pre><code> {{ tabdata }} </code></pre>
            <pre><code> {{tabcolumn}} </code></pre>
        </div> -->
        <div class="comboxtable-search">
            <div class="comboxtable-searchbox">
                <input class="comboxtable-searchipt" v-model.trim="keywords" type="text" name="keywords" :placeholder="iptPlaceholder">
            </div>
            <a class="comboxtable-querybtn" href="javascript:void(0);" @click="query">查询</a>
        </div>
        <table class="comboxtable-table">
            <thead>
                <tr>
                    <th v-for="(item,index) in tabcolumn" :class="thCls(item)" :key="index" v-text="item.type=== 'index' ? '序号':item.title"></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in tabdata" :key="index" @click="selectRow(item,index)">
                    <td v-for="(citem,cindex) in tabcolumn" :key="cindex" v-text="citem.type=== 'index' ? index+1 : item[citem.key]">
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="comboxtable-pagination clearfix">
            <ul class="comboxtable-pagination-action">
                <li title="上一页" @click="previousPage">上一页</li>
                <li title="下一页" @click="nextPage">下一页</li>
            </ul>
            <span v-if="showCleanSearchBtn" class="comboxtable-clearval" @click="cleanKeywords">清空搜索</span>
            <span v-if="showCleanIptBtn" class="comboxtable-clearval" @click="cleanInput">清空选中</span>
            <ul class="comboxtable-pagination-status">
                <li>共<span v-text="total">9</span>条记录</li>
                <li>共<span v-text="totalPagenum">2</span>页</li>
                <li>第<span v-text="currentPagenum">1</span>页</li>
            </ul>
        </div>
    </div>
</template>
<script>
    import Emitter from '@/mixins/emitter';

    const prefixCls = 'comboxtable';

    export default {
        name: 'ComboxtableItem',
        mixins: [ Emitter ],
        props: {
            //当前活动名称
            name: {
                type: [String, Number],
                required: true
            },
            //必传且是字符串 tab名称
            tabname: {
                type: String,
                required: true
            },
            //列名
            tabcolumn:{
                type: Array,
                required: true
            },
            //tab数据
            tabdata:{
                type: Array,
                required: true
            },
            //文本框的key
            iptkey: {
                type: String,
                required: true
            },
            iptPlaceholder:{
                type:String,
                default: "请输入关键字查询"
            },
            //当前页码
            currentPagenum: {
                type: Number,
                default: 1
            },
            //总记录数
            total: {
                type: Number,
                default: 0
            },
            //每页多少条记录
            pageSize: {
                type: Number,
                default: 5
            },
            //查询方法
            action:{
                type: Function,
                required: true,
                default: null
            }
        },
        data () {
            return {
                prefixCls: prefixCls,
                keywords:"",    //关键字查询
                active: false,//活动状态,
                source:null,//当前来源
                showCleanIptBtn:false,//显示清空input按钮
                showCleanSearchBtn:false//显示清空搜索按钮
            };
        },
        computed: {
            classes () {
                return [
                    `${prefixCls}-item`,
                    {
                        [`${prefixCls}-item-active`]: this.active
                    }
                ];
            },
            /* 计算页数 */
            totalPagenum(){
                return (this.total % this.pageSize) === 0 ? this.total/this.pageSize : Math.ceil(this.total/this.pageSize);
            }
        },
        mounted () {
            //更新活动状态
            this.$on('on-update-active-name', (name) => {
                if (this.name === name) {
                    this.active = true;
                } else {
                    this.active = false;
                }

                this.$nextTick(function () {
                    this.updateTabs();
                })
            });

            /**
             * options = source
             */
            this.$on('on-update-source', (options) => {
                //console.log("comboxtable-item",options);

                this.source = options.source;
                this.showCleanIptBtn = options.showCleanIptBtn;
                this.showCleanSearchBtn = options.showCleanSearchBtn;
            });
        },
        methods:{
            //更新索引
            thCls(item){
                return [
                    {
                        [`index`]: item.type === 'index'
                    }
                ];
            },
            //更新comboxtable-group
            updateTabs(){
                this.dispatch('ComboxtableGroup', 'on-update-tabs',{
                    idstr:this.name,//当前组件活动 唯一名
                    active:this.active, //当前组件活动状态
                    tabname:this.tabname//tab标签名
                });
            },
            //查询方法
            query(){
                this.action(this.keywords,this.currentPagenum);
            },
            //清空关键字
            cleanKeywords(){
                this.keywords = "";
                this.action(this.keywords,this.currentPagenum);
            },
            //清空选中的文本框
            cleanInput(){
                //input 更新 action=1=清空行为
                this.dispatch('Comboxtable', 'on-input',{action:1});
            },
            //选中行
            selectRow(item,index){
                this.$emit('on-select-row', item[this.iptkey],item,index,this.source);
                this.dispatch('Comboxtable', 'on-update-active-toggle');
                this.dispatch('Comboxtable', 'on-input',{action:2});
            },
            /* 上一页 */
            previousPage(){
                let currentPagenum = this.currentPagenum;
                if(currentPagenum < 2){
                    console.warn("已经到第一页了");
                    return;
                }
                currentPagenum -= 1;
                this.action(this.keywords,currentPagenum);
            },
            /* 下一页 */
            nextPage(){
                let currentPagenum = this.currentPagenum;
                if(currentPagenum >= this.totalPagenum){
                    console.warn("已经到最后一页了")
                    return;
                }
                currentPagenum += 1;
                this.action(this.keywords,currentPagenum);
            }
        },
        watch:{
        },
        beforeDestroy () {
        }
    };
</script>

<style lang="css">
.comboxtable-item{display:none;}
.comboxtable-item.comboxtable-item-active{display:block;}
/*搜索框*/
.comboxtable-search{padding-bottom:10px;position:relative;}
.comboxtable-searchbox{margin-right:80px;}
.comboxtable-searchipt{width:100%;line-height:30px;height:30px;border:1px solid #ddd;padding:5px 10px;box-sizing:border-box;}

/* 表格数据 */
.comboxtable-table{width:100%;border-collapse:collapse;}
.comboxtable-table th,
.comboxtable-table td{border:1px solid #ddd;padding:8px 15px;line-height:1.42857143;white-space:nowrap;word-break:keep-all;}
.comboxtable-table>tbody>tr{cursor:pointer;}
.comboxtable-table th.index{width:60px;}
.comboxtable-row{cursor:pointer;}
.comboxtable-row.selected{background-color:#f5f5f5;}
.comboxtable-row:hover{background-color:#f5f5f5;}
.comboxtable-pagination{border:1px solid #ddd;padding:0 10px;}
.comboxtable-pagination-action,
.comboxtable-pagination-action li{float:left;}
.comboxtable-pagination-action li{cursor:pointer;}
.comboxtable-pagination-status,
.comboxtable-pagination-status li{float:right;}
.comboxtable-pagination-status li,
.comboxtable-pagination-action li{padding:8px 3px;}

.comboxtable-clearval,
.comboxtable-querybtn{background-color:#46A4FF;color:#fff;border-radius:1px;text-decoration:none;cursor:pointer;}
.comboxtable-clearval{padding:4px 10px;float:left;margin: 4px 0 0 5px;}
.comboxtable-querybtn{width:50px;line-height:30px;height:30px;text-align:center;position:absolute;top:0;right:0;}
.comboxtable-querybtn:hover,
.comboxtable-querybtn:focus,
.comboxtable-querybtn:visited,
.comboxtable-querybtn:active{color:#fff;text-decoration:none;}
</style>
