<template>
    <div :class="classes">
        <input type="text"
            :class="inputClasses"
            :autofocus="autofocus"
            :readonly="readonly"
            :disabled="disabled"
            :placeholder="placeholder"
            :name="name"
            v-model="inputVal"

            @keyup="handleKeyup"
            @keypress="handleKeypress"
            @keydown="handleKeydown"
            @focus="handleFocus"
            @blur="handleBlur"
            @input="handleInput"
            @click="handleClick"
            @change="handleChange"
        >
    </div>
</template>
<script>
    const prefixCls = 'comboxtable';
    import Emitter from '@/mixins/emitter';
    import {findComponentUpward} from "@/services/utils_service"

    export default {
        name: 'ComboxtableInput',
        mixins: [ Emitter ],
        props: {
            name: {
                type: String
            },
            autofocus: {
                type: Boolean,
                default: false
            },
            value:{
                type: String
            },
            readonly:{
                type: Boolean,
                default: false
            },
            disabled: {
                type: Boolean,
                default: false
            },
            placeholder: {
                type: String,
                default: "请选择"
            },
            size: {
                validator (value) {
                    return ['small', 'large'].indexOf(value) !=-1 ? true:false;
                }
            }
        },
        data () {
            return {
                prefixCls: prefixCls,
                inputVal:"",
                source:null //来源
            };
        },
        computed: {
            classes () {
                return [
                    `${prefixCls}-wrap-ipt`,
                    `ivu-input-wrapper`
                ];
            },
            inputClasses () {
                return [
                    `ivu-input`,
                    {
                        [`ivu-input-${this.size}`]: !!this.size,
                        [`ivu-input-disabled`]: this.disabled
                    }
                ];
            }
        },
        mounted (){
            this.inputVal = this.value;
            /**
             * options = source
             */
            this.$on('on-update-source', (options) => {
                //console.log("comboxtable-input",options);
                this.source = options.source;
            });

            //input 更新
            this.$on('on-input', (options) => {
                if(options.action === 1){
                    this.$emit('input', "",this.source);
                } else if(options.action === 2){
                    this.triggerFormItem();
                }
            });
        },
        methods:{
            handleKeydown (event) {
                this.$emit('on-keydown', event);
            },
            handleKeypress(event) {
                this.$emit('on-keypress', event);
            },
            handleKeyup (event) {
                this.$emit('on-keyup', event);
            },
            handleFocus (event) {
                this.$emit('on-focus', event);
            },
            handleBlur (event) {
                this.$emit('on-blur', event);
                this.triggerFormItem();
                // console.log("on-blur",this.inputVal);
            },
            handleInput(event){
                this.$emit('input', this.inputVal,this.source);
            },
            //点击文本框
            handleClick(){
                this.dispatch('Comboxtable', 'on-update-active-toggle');
            },
            //文本框值改变时调用
            handleChange(){
                this.$emit('on-change',this.inputVal,this.source);
            },
            //触发FormItem
            triggerFormItem(){
                if ( findComponentUpward(this, ['Comboxtable']) ) {
                    this.dispatch('FormItem', 'on-form-blur', this.inputVal);
                }
            }
        },
        watch: {
            //监控父级数据是否改变
            value (val) {
                this.inputVal = val;
            }
        }
    };
</script>

<style lang="css">
.comboxtable-wrap-ipt{width:100%;}
.comboxtable-ipt{width:100%;line-height:35px;height:35px;border:1px solid #ddd;padding:5px 10px;box-sizing:border-box;}
</style>
