<template>
    <div :class="classes" v-clickoutside="handleClose">
        <div class="selectpca-wrap-ipt">
            <input type="text"
                :name="name"
                :autofocus="autofocus"
                :class="inputClasses"
                :readonly="readonly"
                :disabled="disabled"
                :placeholder="placeholder"
                v-model="inputVal"

                @keyup="handleKeyup"
                @keydown="handleKeydown"
                @focus="handleFocus"
                @blur="handleBlur"
                @input="handleInput"
                @click="handleClick"
            >
        </div>
        <div class="selectpca-picker">
            <ul class="selectpca-tabs clearfix">
                <li v-if="tab.show" v-for="(tab,index) in tabs" :key="tab.id" :class="tabCls(tab)" @click="clickTabHandler(tab)" v-text="tab.name">
                </li>
            </ul>
            <div class="selectpca-content">
                <section class="selectpca-province" v-show="activeTabId==1">
                    <dl class="clearfix" v-for="letterItem in data">
                        <dt class="selectpca-letter">
                            <span class="selectpca-ele" v-text="letterItem.letter"></span>
                        </dt>
                        <dd class="selectpca-data">
                            <a  class="selectpca-ele"
                                :class="eleCLs(1,province)"
                                :title="province.provincename"
                                v-for="province in letterItem.data"
                                @click="clickProvinceHandler(province)"
                                v-text="province.provincename">
                            </a>
                        </dd>
                    </dl>
                </section>
                <section class="selectpca-city" v-show="activeTabId==2">
                    <a v-if="cities.length"
                        class="selectpca-ele"
                        :class="eleCLs(2,city)"
                        :title="city.cityname"
                        v-for="city in cities"
                        @click="clickCityHandler(city)"
                        v-text="city.cityname">
                    </a>
                </section>
                <section class="selectpca-area" v-show="activeTabId==3">
                    <a v-if="areas.length"
                        class="selectpca-ele"
                        :class="eleCLs(3,area)"
                        :title="area.areaname"
                        v-for="area in areas"
                        @click="clickAreaHandler(area)"
                        v-text="area.areaname">
                    </a>
                </section>
                <section>
                    <a class="selectpca-ele active" @click="clickClearPcaName()" title="清空">清空</a>
                </section>
            </div>
        </div>
    </div>
</template>
<script>
    import Emitter from '@/mixins/emitter'
    import clickoutside from '@/directives/clickoutside'
    import {PCALSORT,getPcaId} from "@/services/pca_service"
    import { pcaajoin,findComponentUpward } from "@/services/utils_service"
    const prefixCls = 'selectpca';

    export default {
        name: 'Selectpca',
        mixins: [ Emitter ],
        directives: {clickoutside},
        props: {
            value:{
                type: String
            },
            name: {
                type: String
            },
            autofocus: {
                type: Boolean,
                default: false
            },
            readonly:{
                type: Boolean,
                default: true
            },
            disabled: {
                type: Boolean,
                default: false
            },
            placeholder: {
                type: String,
                default: "请选择省市区"
            },
            //显示清空input按钮
            showCleanIptBtn:{
                type: Boolean,
                default:false
            },
            size: {
                validator (value) {
                    return ['small', 'large'].indexOf(value) !=-1 ? true:false;
                }
            },
            //是否显示区
            showArea:{
                type: Boolean,
                default: true
            }
        },
        data () {
            return {
                inputVal:"",
                tabs:[
                    {id:1,name:"省份",show:true},
                    {id:2,name:"城市",show:true},
                    {id:3,name:"区县",show:this.showArea}
                ],
                data:[],//省市区数据
                cities:[],//省下的城市
                areas:[],//市下的区

                activeProvinceid:null,
                activeProvincename:'',
                activeCityid: null,
                activeCityname:'',
                activeAreaid:null,
                activeAreaname :'',

                activeTabId:1,
                activeState:false,//下来面板活动状态
                prefixCls: prefixCls
            };
        },
        computed: {
            classes () {
                return [
                    `${prefixCls}`,
                    {
                        [`${prefixCls}-visible`]: this.activeState
                    }
                ];
            },
            inputClasses () {
                return [
                    `ivu-input`,
                    {
                        [`ivu-input-${this.size}`]: !!this.size,
                        [`ivu-input-disabled`]: this.disabled
                    }
                ];
            }
        },
        mounted () {
            this.data = PCALSORT;
            //console.log(PCALSORT,"PCALSORT")
            this.$nextTick(() => {
                this.setInputDefault(this.value);
                //console.log(this.value,"组件内部");
            });
        },
        methods: {
            //单击tab
            clickTabHandler(tab){
                if(tab.id === 2 && !this.cities.length){
                    return;
                } else if(tab.id === 3 && !this.areas.length){
                    return;
                }
                this.activeTabId = tab.id;
            },
            //tabClass
            tabCls (tab) {
                return [
                    {
                        [`active`]: tab.id === this.activeTabId
                    }
                ];
            },
            //元素状态
            eleCLs(tabId,item){
                switch (tabId) {
                    case 1:
                        return [
                            {
                                [`active`]: item.provinceid === this.activeProvinceid
                            }
                        ];
                        break;
                    case 2:
                        return [
                            {
                                [`active`]: item.cityid === this.activeCityid
                            }
                        ];
                        break;
                    case 3:
                        return [
                            {
                                [`active`]: item.areaid === this.activeAreaid && this.showArea
                            }
                        ];
                        break;
                }
            },
            //选中省
            clickProvinceHandler(province){
                if(!province){return;}

                this.cities = province.cities;

                /* 设置选中项 */
                this.activeProvinceid = province.provinceid;
                this.activeProvincename = province.provincename;
                this.activeCityid = null;
                this.activeCityname = '';
                this.activeAreaid = null;
                this.activeAreaname = '';

                //显示市
                this.activeTabId = 2;
            },
            //选中市
            clickCityHandler(city){
                if (!city || !this.cities) {return;}

                /* 设置选中项 */
                this.activeCityid = city.cityid;
                this.activeCityname = city.cityname;
                this.activeAreaid = '';
                this.activeAreaname = '';

                //显示区
                if(this.showArea && city.areas && city.areas.length>0){
                    this.activeTabId = 3;
                    this.areas = city.areas;
                } else if(this.showArea && (!city.areas || city.areas.length<1)){
                    this.selectFinish();
                } else if(!this.showArea){
                    this.selectFinish();
                }
            },
            //选中区
            clickAreaHandler(area){
                if (!area || !this.areas) {return;}

                /* 设置选中项 */
                this.activeAreaid = area.areaid;
                this.activeAreaname = area.areaname;

                this.selectFinish();
            },
            //选中完成后
            selectFinish(){
                this.setIptVal();
                this.handleClose();
                this.selectCallback();
            },
            //清空input
            clickClearPcaName(){
                this.inputVal = "";
                this.activeProvinceid = null;
                this.activeProvincename = '';
                this.activeCityid = null;
                this.activeCityname = '';
                this.activeAreaid = null;
                this.activeAreaname = '';
                this.handleInput();
            },
            //隐藏下拉面板
            handleClose(){
                //console.log("关闭触发了");
                this.activeState = false;
            },
            //设置ipt值
            setIptVal(){
                this.inputVal = pcaajoin(this.activeProvincename,this.activeCityname,this.activeAreaname);
                this.handleInput();
                this.triggerFormItem();
            },
            //选完地址回调
            selectCallback(){
                this.$emit('on-change', {
                    provinceid : this.activeProvinceid,
                    provincename : this.activeProvincename,
                    cityid : this.activeCityid,
                    cityname :this.activeCityname,
                    areaid:this.activeAreaid,
                    areaname:this.activeAreaname
                });
            },
            handleKeyup (event) {
                this.$emit('on-keyup', event);
            },
            handleKeydown(){
                this.$emit('on-keydown', event);
            },
            handleFocus (event) {
                this.$emit('on-focus', event);
            },
            handleBlur (event) {
                this.$emit('on-blur', event);
                this.triggerFormItem();
            },
            handleInput(event){
                this.$emit('input', this.inputVal);
            },
            //点击文本框
            handleClick(){
                //console.log("input触发了",);
                this.activeState = !this.activeState;
            },
            //触发FormItem
            triggerFormItem(){
                this.$nextTick(() => {
                    this.dispatch('FormItem', 'on-form-blur', this.inputVal);
                });
            },
            //设置默认值
            setInputDefault(parentVal){
                if(this.inputVal === parentVal){
                    //console.log("触发一次")
                    return;
                }

                this.inputVal = parentVal;

                if(this.inputVal && this.inputVal.split("-").length>1){
                    let tempArr = this.inputVal.split("-");
                    let pcaObj = getPcaId(tempArr[0],tempArr[1],tempArr[2],"Object");
                    //console.log("pcaObj执行一次",pcaObj);

                    if(pcaObj.provinceid && pcaObj.provincename && pcaObj.cities){
                        this.clickProvinceHandler({
                            provinceid:pcaObj.provinceid,
                            provincename:pcaObj.provincename,
                            cities:pcaObj.cities
                        });
                        // this.activeProvinceid = pcaObj.provinceid ;
                        // this.activeProvincename = pcaObj.provincename;
                        // this.cities = pcaObj.cities;

                        if(pcaObj.cityid && pcaObj.cityname && pcaObj.areas){
                            this.clickCityHandler({
                                cityid:pcaObj.cityid,
                                cityname:pcaObj.cityname,
                                areas:pcaObj.areas
                            })

                            if(pcaObj.areaid && pcaObj.areaname){
                                this.clickAreaHandler({
                                    areaid:pcaObj.areaid,
                                    areaname:pcaObj.areaname
                                })
                                // this.activeAreaid = pcaObj.areaid;
                                // this.activeAreaname = pcaObj.areaname;
                            }
                        }
                    }
                }
            }
        },
        watch: {
            value(val){
                this.setInputDefault(val);
                //console.log(val,"父级数据改变");
            }
        }
    };
</script>
<style lang="scss">
.clearfix:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.clearfix{zoom:1;}
.selectpca{position:relative;}
.selectpca-wrap-ipt{width:100%;}
.selectpca-visible .selectpca-picker{display:block;}

.selectpca-tabs{
    background:#f0f0f0;border-bottom:1px solid #ccc;font-size:14px;
    li{float:left;padding:8px 22px;border-left:1px solid #ccc;border-bottom: 1px solid transparent;margin-bottom:-1px;cursor:pointer;}
    li.active{background: #fff;border-bottom:1px solid #fff;}
    li.hidden{display:none;}
    li:first-child{border-left:0;}
}

.selectpca-picker{position:absolute;top:100%;margin-top:3px;display:none;
    width:365px;border:1px solid #ddd;z-index:11;line-height:1.2;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    -ms-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}
.selectpca-content{background-color:#fff;padding: 10px 15px;}
.selectpca-letter{float:left;
    .selectpca-ele{font-weight:bold;}
}
.selectpca-data{margin-left:46px;}
.selectpca-ele{display:inline-block;padding:8px 10px;white-space:nowrap;margin:0 2px;color:#000;}
.selectpca-ele.active{background-color:#46A4FF;color:#fff;border-radius: 2px;}
.selectpca-province,
.selectpca-city,
.selectpca-area{padding:3px 0;}
</style>
